* {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/*VARIABLES*/
:root {
    --font-min: 0.8em;
    --font-small: 0.875em;
    --font-normal: 1em;
    --font-medium: 1.2em;
    --font-large: 1.5em;


    --weight-thin: 100;
    --weight-estra-light: 200;
    --weight-light: 300;
    --weight-normal: 400;
    --weight-medium: 500;
    --weight-semi-bold: 600;
    --weight-bold: 700;
    --weight-black: 900;

    --color-background: #f1f5f9;
    --color-default: #546075;
    --color-grey: #95a4b9;
    --color-light-grey: #c6c8cc;
    --color-extra-light-grey: #ecedef;
    --color-darck-grey: #11192c;
    --color-green: #0f9589;
    --color-darck-blue: #5047e5;
    --color-purple: #75229e;
    --color-white: #fff;
    --color-blue: #3d83f6;
    --color-yellow: #f59f0d;
    --color-red: #ef4545;


    --hover-darck-grey: #2e3545;
    --hover-color-green: #15afa5;
    --hover-color-blue: #66D4F1;
    --hover-color-yellow: #FCD277;
    --hover-color-red: #ea7d7d;
    --hover-duration: 0.3s;


    --gradient-purple: linear-gradient(to right, #4c1464 0%, #6033a4 50%, #4c1464 100%);
    --gradient-darck-blue: linear-gradient(to right, #042256 0%, #475780 50%, #042256 100%);
    --gradient-blue: linear-gradient(to right, #0086b4 0%, #45acd3 50%, #0086b4 100%);
    --gradient-red: linear-gradient(to right, #622744 0%, #C53364 50%, #622744 100%);
    --gradient-black: linear-gradient(to right, #111111 0%, #727272 50%, #0c0c0c 100%);
    --gradient-yellow: linear-gradient(to right, #FCE38A 0%, #F38181 50%, #FCE38A 100%);

    --radius-normal: 6px;
    --radius-medium: 18px;
    --radius-large: 20px;
    --radius-round: 50%;

    --box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.20);

    --index-back: -1;
    --index-fold: 2;
    --index-menu: 3;
    --index-modal: 4;
}

html, body {
    height: 100%;
    font-family: "Montserrat", sans-serif;
}

/*
img{
    max-width: 15em;
}
*/

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    max-width: 75em;
}

.row_reverse {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    max-width: 75em;
}

.widget_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.widget {
    display: flex;
    flex-direction: column;
    width: calc(50% - 1.6em);
    padding: 1em 2em;
    border-radius: var(--radius-medium);
    margin: 0.5em 0.8em;
}

.widget_small {
    display: block;
    width: calc(50% - 1.6em);
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    padding: 1em 2em;
    border-radius: var(--radius-medium);
    margin: 1em 0.8em;
}

.widget_large {
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    padding: 1em 2em;
    border-radius: var(--radius-medium);
    margin: 0.5em 0.8em;
}

.modal_more_spend{
    display: block;
    width: 50%;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    padding: 1em 2em;
    border-radius: var(--radius-medium);
    margin: 0.5em 0.8em;
    z-index: var(--index-modal);
}

.column{
    display: block;
    width: 50%;
}

.column_left {
    display: block;
    width: 60%;
}

.column_right {
    display: block;
    align-items: flex-end;
    width: 40%;
}

.widget_column {
    display: block;
}

.gradient {
    background-size: 200% auto;
    transition-duration: 0.5s;
}

.gradient-purple {
    background-image: var(--gradient-purple);
}

.gradient-darck-blue {
    background-image: var(--gradient-darck-blue);
}

.gradient-blue {
    background-image: var(--gradient-blue);
}

.gradient-red {
    background-image: var(--gradient-red);
}

.gradient-black {
    background-image: var(--gradient-black);
}

.gradient-yellow{
    background-image: var(--gradient-yellow);
}

.gradient-hover:hover {
    background-position: right center;
}

@media screen and (max-width: 80em) {
    .widget_small {
        width: 100%;
    }

    .column_right {
        width: 50%;
    }

    .column_left {
        width: 50%;
    }
}

@media screen and (max-width: 68em) {

    .row_reverse {
        flex-wrap: wrap-reverse;
    }

    .column, .column_right, .column_left {
        width: 100%;
    }

}