/* GRAPHIC */

.graphic{
    width: 100%;
    height: 100%;
}

.graphic_main header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    line-height: 3em;
    color: var(--color-default);
}

.graphic_main header h3{
    font-size: var(--font-normal);
}

.graphic_main header i{
    margin-right: 1em;
}

.graphic_content{
    width: 100%;
}

/* CARD RECEIVE AND SPEND */

.receive_header, .spend_header{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    line-height: 3em;
    border-bottom: 1px solid var(--color-extra-light-grey);
    color: var(--color-default);
}

.receive_header h3, .spend_header h3{
    font-size: var(--font-normal);
}

.receive_header i, .spend_header i{
    margin-right: 1em;
}

.receive_main, .spend_main{

}

.receive_title p{
    font-size: var(--font-small);
    color: var(--color-green);
    font-weight: var(--weight-bold);
    line-height: 1em;
    margin-top: 1em;
}

.receive_title small{
    color: var(--color-default);
    font-size: var(--font-min);
    line-height: 1em;
    margin: 0 0 1em 0;
}

.receive_main, .spend_main{
    padding: 1.275em 0;
}

.receive_value p{
    font-size: var(--font-small);
    color: var(--color-darck-grey);
    font-weight: var(--weight-bold);
    line-height: 1em;
    margin-top: 1em;
}

.receive_value i{
    color: var(--color-green);
    cursor: pointer;
}

.receive_value i:hover{
    color: var(--hover-color-green);
}

.spend_title p{
    font-size: var(--font-small);
    color: var(--color-green);
    font-weight: var(--weight-bold);
    line-height: 1em;
    margin-top: 1em;
}

.spend_title small{
    color: var(--color-default);
    font-size: var(--font-min);
    line-height: 1em;
    margin: 0 0 1em 0;
}

.spend_value p{
    font-size: var(--font-small);
    color: var(--color-darck-grey);
    font-weight: var(--weight-bold);
    line-height: 1em;
    margin-top: 1em;
}

.spend_value i{
    color: var(--color-red);
    cursor: pointer;
}

.spend_value i:hover{
    color: var(--hover-color-red);
}

.receive_footer, .spend_footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    line-height: 3em;
    border-top: 1px solid var(--color-extra-light-grey);
}

.receive_footer p, .spend_footer p{
    color: var(--color-default);
    font-weight: var(--weight-medium);
}

.receive_footer p:hover, .spend_footer p:hover{
    color: var(--color-green);
    cursor: pointer;
}

/* MORE RECEIVE | SPEND */

.more_receive{
    border: 1px solid var(--color-green);
    color: var(--color-green);
    align-items: center;
    justify-content: center;
    transition: 300ms;
}

.more_receive:hover{
    cursor: pointer;
    background-color: var(--color-green);
    color: var(--color-white);
}

.more_receive i{
    margin-right: 0.3em;
}

.more_spend{
    border: 1px solid var(--color-red);
    color: var(--color-red);
    align-items: center;
    justify-content: center;
    transition: 300ms;
}

.more_spend:hover{
    cursor: pointer;
    background-color: var(--color-red);
    color: var(--color-white);
}

.more_spend i{
    margin-right: 0.3em;
}

/* BALANCE */

.balance{
    position: relative;
    overflow: hidden;
}

.back_icon{
    position: absolute;
    font-size: 5em;
    color: rgba(15, 149, 137, 0.1);
    left: 89%;
    top: 71%;
}

.balance_header{
    line-height: 3em;
    color: var(--color-default);
    font-weight: var(--weight-semi-bold);
    font-size: var(--font-normal);
    border-bottom: 1px solid var(--color-extra-light-grey);
}

.balance_header i{
    margin-right: 1em;
}

.balance_main{
    line-height: 1em;
}

.balance_general{
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    border-radius: var(--radius-normal);
    margin-top: 1em;
    padding: 0.5em;
    border: 1px solid var(--color-green);
    color: var(--color-default);
}

.balance_receive, .balance_spend{
    line-height: 2em;
    margin-top: 1em;
}

.balance_general h3{
    font-size: var(--font-normal);
    margin-bottom: 0.5em;
    color: var(--color-green);
}

.balance_receive h3{
    font-size: var(--font-small);
    color: var(--color-green);
}

.balance_spend h3{
    font-size: var(--font-small);
    color: var(--color-red);
}

.balance_general i, .balance_receive i, .balance_spend i{
    margin-right: 1em;
}

.balance_general p, .balance_receive p, .balance_spend p{
    line-height: 1em;
    font-size: var(--font-small);
    color: var(--color-default);
    font-weight: var(--weight-medium);
}