.app-sidebar{
    width: 17.5em;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    padding: 1em;
    background-color: var(--color-darck-grey);
    color: var(--color-grey);
    transition: 1s ease;
    overflow-y: auto;
}

.app-sidebar-mobile{
    margin-left: -17.5em;
}

/* BRAND SITE */

.sidebar-brand{
    height: 4em;
}

.brand-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand-icons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.notify{
    width: 2.5em;
    height: 2.5em;
    display: grid;
    place-items: center;
    border-radius: var(--radius-round);
    color: var(--color-grey);
    position: relative;
    padding-top: 7px;
    transition: 300ms;
}

.notify:hover{
    cursor: pointer;
    background-color: var(--hover-darck-grey);
}

.notify span{
    font-size: 1.4em;
}

.notify small{
    position: absolute;
    font-size: 0.5em;
    background-color: var(--color-dark-green);
    color: var(--color-white);
    border-radius: var(--radius-round);
    padding: 1px 5px;
    left: 21px;
    top: 5px;
}

.profile-icon{
    width: 2.5em;
    height: 2.5em;
    border-radius: var(--radius-round);
    transition: 300ms;
    display: grid;
    place-items: center;
    padding-top: 7px;
}

.profile-icon:hover{
    cursor: pointer;
    background-color: var(--hover-darck-grey);
}

.profile-icon span{
    font-size: 1.6em;
}

/* PROFILE USER */

.sidebar-profile{
    text-align: center;
    margin-top: 0.6em;
}

.sidebar-profile img{
    width: 5.5em;
    border-radius: var(--radius-round);
}

.sidebar-profile h3{
    color: var(--color-white);
    font-size: var(--font-normal);
    font-weight: var(--weight-medium);
    margin-top: 1.4em;
    margin-bottom: 0.1em;
}

.sidebar-profile span{
    font-size: var(--font-small);
    font-weight: var(--weight-medium);
}

/* MENU SYSTEM */

.sidebar-menu{
    margin-top: 3.2em;
}

.menu-head{
    text-transform: uppercase;
    color: var(--color-purple);
    font-weight: var(--weight-semi-bold);
    font-size: var(--font-small);
    margin-bottom: 1em;
    margin-left: 1em;
}

.menu-content{
    display: flex;
    flex-direction: column;
}

.menu-content a{
    color: var(--color-light-grey);
    font-weight: var(--weight-medium);
    font-size: var(--font-small);
    padding: 0.8em;
    border-radius: var(--radius-medium);
    transition: 300ms;
    margin-bottom: 3px;
}

.menu-content a:hover{
    color: var(--color-white);
    background-color: var(--hover-darck-grey);
}

.menu-content a:active{
    color: var(--color-white);
    background-color: var(--hover-darck-grey);
}

.menu-content a span{
    font-size: var(--font-medium) !important;
    font-weight: var(--weight-light);
    vertical-align: middle;
    margin-right: 1em;
}

@media screen and (max-width: 68em) {
    .app-sidebar{
        margin-left: -17.5em;
    }

    .app-sidebar-mobile{
        margin-left: 0;
        position: absolute;
    }
}