@import url("https://file.myfontastic.com/y9E97ar3hSy2MDxDt2GYiE/icons.css");
@import "../plugins/fontawesome/css/all.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css");
@import "boot.css";
@import "dashboard.css";
@import "wallets.css";

/* APP */

.app{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

/* SIDEBAR */

.app_sidebar{
    display: block;
    width: 17.5em;
    height: 100%;
    padding: 1.2em 1.5em;
    background-color: var(--color-darck-grey);
    box-shadow: var(--box-shadow);
    -webkit-box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow);
    overflow-y: auto;
    transition: 600ms ease;
    z-index: var(--index-modal);
}

.app_sidebar_mobile{
    margin-left: -17.5em;
}

.app_sidebar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.app_sidebar::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.app_sidebar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #00000080;
}

/* SIDEBAR BRAND */

.sidebar_brand{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2em;
}

.brand_icons{
    color: var(--color-grey);
}

.icon_notify, .icon_profile{
    font-size: 1.3em;
    vertical-align: middle;
    position: relative;
    border-radius: var(--radius-round);
    padding: 9px 11px;
    transition: 300ms;
}

.icon_notify:hover, .icon_profile:hover, .icon_profile.active, .icon_notify.active{
    background-color: var(--hover-darck-grey);
    cursor: pointer;
}

.notify_quantity{
    color: var(--color-white);
    position: absolute;
    font-size: 0.6em;
    padding: 0 4px;
    border-radius: var(--radius-round);
    background-color: var(--color-green);
    top: 4px;
    left: 22px;
}

/* NOTIFY */

.notify{
    position: fixed;
    display: none;
    width: 22.5em;
    height: 39.5em;
    overflow: hidden;
    background-color: var(--color-white);
    border-radius: var(--radius-medium);
    left: 10.5em;
    z-index: var(--index-modal);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.31);
}

.notify_header{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.8em 1.5em;
    background-color: var(--color-darck-blue);
}

.notify_header h3{
    font-size: var(--font-normal);
    font-weight: var(--weight-semi-bold);
    color: var(--color-white);
}

.notify_header i{
    color: var(--color-white);
}

.notify_content{
    display: block;
    width: 100%;
    height: calc(100% - 5em);
    overflow-y: auto;
}

.notify_content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.notify_content::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.notify_content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #00000080;
}

.notify_content_message{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1em;
    border-bottom: 1px solid var(--color-extra-light-grey);
}

.notify_content_message:hover{
    cursor: pointer;
    background-color: #f8fafc;
}

.content_avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 100%;
}

.content_avatar img{
    width: 2em;
    border-radius: var(--radius-round);
}

.message_sender{
    color: var(--color-darck-grey);
}

.message_sender h4{
    font-weight: var(--weight-semi-bold);
    font-size: var(--font-small);
}

.message_content p{
    margin-top: 0.5em;
    font-size: var(--font-small);
    color: var(--color-default);
}

.message_date small{
    margin-top: 0.5em;
    font-size: var(--font-min);
}

.content_message{
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 100%;
}

.content_action{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    height: 100%;
}

.content_action i{
    margin-top: 1em;
}

.content_action_circle{
    font-size: var(--font-small);
    color: var(--color-darck-blue);
    border-radius: var(--radius-round);
    padding: 6px;
    transition: 300ms;
}

.content_action_circle:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.13);
}

.content_action_x{
    border-radius: var(--radius-round);
    padding: 4px 6px;
    transition: 300ms;
}

.content_action_x:hover{
    cursor: pointer;
    color: var(--hover-color-red);
    background-color: rgba(0, 0, 0, 0.13);
}

/* PROFILE */

.background_modal{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: var(--index-fold);
}

.profile{
    display: none;
    position: absolute;
    background-color: var(--color-white);
    border-radius: var(--radius-normal);
    padding: 1em;
    width: 14em;
    height: 18.5em;
    left: 1.5em;
    top: 4em;
    z-index: var(--index-modal);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.31);
}

.profile_header{
    align-items: center;
    justify-content: center;
}

.profile_header_avatar{
    align-items: center;
    justify-content: center;
    padding-bottom: 1em;
    border-bottom: 1px solid var(--color-extra-light-grey);
}

.profile_header_avatar img{
    width: 3em;
    border-radius: var(--radius-round);
}

.profile_header_content{
    padding: 1em 1em;
    border-bottom: 1px solid var(--color-extra-light-grey);
}

.profile_header_content div h4{
    color: var(--color-default);
    font-size: var(--font-small);
}

.profile_header_content div p{
    color: var(--color-default);
    font-size: var(--font-min);
}

.profile_content{
    padding: 0.6em 0;
    border-bottom: 1px solid var(--color-extra-light-grey);
}

.profile_content div p{
    color: var(--color-default);
    display: block;
    width: 100%;
    border-radius: var(--radius-normal);
    padding: 0.4em 1em;
    margin-bottom: 2px;
    transition: 300ms;
}

.profile_content div p:hover{
    cursor: pointer;
    background-color: var(--color-extra-light-grey);
}

.profile_content div i{
    margin-right: 1em;
}

.profile_footer{
    display: block;
    padding: 0.6em 0;
}

.profile_footer p{
    display: block;
    padding: 0.4em 1em;
    border-radius: var(--radius-normal);
    font-size: var(--font-normal);
    color: var(--color-default);
    transition: 300ms;
}

.profile_footer p:hover{
    cursor: pointer;
    background-color: var(--color-extra-light-grey);
}

.profile_footer i{
    margin-right: 1em;
}

/* SIDEBAR USER */

.sidebar_user{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar_user img{
    border-radius: var(--radius-round);
    width: 5.5em;
    margin-bottom: 1.5em;
}

.sidebar_user h3{
    margin-bottom: 0.5em;
    font-size: var(--font-small);
    font-weight: var(--weight-semi-bold);
    color: var(--color-extra-light-grey);
}

.sidebar_user span{
    font-weight: var(--weight-semi-bold);
    color: var(--color-grey);
    margin-bottom: 4.3em;
    font-size: var(--font-min);
}

/* SIDEBAR MAP SYSTEM */

.sidebar_map{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.sidebar_map span{
    color: var(--color-purple);
    text-transform: uppercase;
    font-size: var(--font-min);
    margin-bottom: 0.5em;
    font-weight: var(--weight-semi-bold);
    padding: 0 1em;
}

.sidebar_map small{
    color: rgba(218, 221, 231, 0.51);
    font-size: 0.6em;
    text-transform: uppercase;
    font-weight: var(--weight-semi-bold);
    margin-bottom: 1.2em;
    padding: 0 1.4em;
}

/* SIDEBAR MENU */

.sidebar_menu{
    display: block;
}

.sidebar_menu a{
    color: var(--color-light-grey);
    display: block;
    padding: 0 1em;
    line-height: 3.5em;
    margin-bottom: 4px;
    border-radius: var(--radius-normal);
    transition: 300ms;
    font-size: var(--font-small);
    font-weight: var(--weight-semi-bold);
}

.sidebar_menu a:hover, .sidebar_menu a.active{
    background-color: var(--hover-darck-grey);
    color: var(--color-extra-light-grey);
}

.sidebar_menu i{
    margin-right: 1.2em;
    font-size: var(--font-medium) !important;
}

/* APP MAIN */

.app_main {
    display: block;
    width: calc(100% - 17.5em);
    height: 100%;
    transition: 600ms ease;
}

.app_main_mobile{
    width: 100%;
}

/* APP HEADER */

.app_header{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4em;
    padding: 0.6em 1em;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
}

.menu_toggle{
    font-size: var(--font-medium);
    color: var(--color-default);
    border-radius: var(--radius-round);
    padding: 0.6em;
    transition: 300ms;
}

.app_header i:hover, .app_header i.active{
    background-color: var(--color-extra-light-grey);
    cursor: pointer;
}

.menu_toggle{
    margin-left: 0;
    transition: 600ms ease;
}

.wallets{
    display: flex;
    align-items: center;
    background-color: var(--color-extra-light-grey);
    padding: 0.8em 1.5em;
    border-radius: var(--radius-normal);
    color: var(--color-default);
    font-size: var(--font-min);
    font-weight: var(--weight-semi-bold);
    transition: 300ms;
}

.wallets:hover{
    cursor: pointer;
    color: var(--hover-color-green);
}

.wallets i{
    vertical-align: bottom;
    margin-right: 0.5em;
}

/* APP CONTENT */

.app_content{
    display: block;
    width: 100%;
    height: calc(100% - 4em);
    padding: 1.5em 1em;
    background-color: var(--color-background);
    overflow-y: auto;
}

.app_content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.app_content::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.app_content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #00000080;
}

.app_content_load{
    position: absolute;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.51);
}

@media screen and (max-width: 44em){
    .app_sidebar{
        margin-left: -17.5em;
        position: absolute;
        z-index: var(--index-modal);
    }

    .app_sidebar_mobile{
        margin-left: 0;
    }

    .app_main{
        width: 100%;
    }

    .menu_toggle_mobile{
        margin-left: 14.5em;
    }

    .notify{
        position: fixed;
        top: 4em;
        left: 0;
        width: 100%;
        height: calc(100% - 4em);
        border-radius: unset;

    }
}