@import url("https://file.myfontastic.com/y9E97ar3hSy2MDxDt2GYiE/icons.css");
@import "../plugins/fontawesome/css/all.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css");
@import "boot.css";

/* APP */

.app{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

/* SIDEBAR */

.app_sidebar{
    display: block;
    width: 17.5em;
    height: 100%;
    padding: 1.2em 1.5em;
    background-color: var(--color-darck-grey);
    box-shadow: var(--box-shadow);
    -webkit-box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow);
    overflow-y: auto;
    transition: 300ms;
}

.app_sidebar_mobile{
    margin-left: -17.5em;
}

.app_sidebar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.app_sidebar::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.app_sidebar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #00000080;
}

/* SIDEBAR BRAND */

.sidebar_brand{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2em;
}

.brand_icons{
    color: var(--color-grey);
}

.brand_icons i{
    font-size: 1.3em;
    vertical-align: middle;
    position: relative;
    border-radius: var(--radius-round);
    padding: 9px 11px;
    transition: 300ms;
}

.brand_icons i:hover, .brand_icons i:active{
    background-color: var(--hover-darck-grey);
    cursor: pointer;
}

.brand_icons small{
    color: var(--color-white);
    position: absolute;
    font-size: 0.6em;
    padding: 0 4px;
    border-radius: var(--radius-round);
    background-color: var(--color-darck-green);
    top: 4px;
    left: 22px;
}

/* SIDEBAR USER */

.sidebra_user{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebra_user img{
    border-radius: var(--radius-round);
    width: 5.5em;
    margin-bottom: 1.5em;
}

.sidebra_user h3{
    margin-bottom: 0.5em;
    font-size: var(--font-small);
    font-weight: var(--weight-semi-bold);
    color: var(--color-extra-light-grey);
}

.sidebra_user span{
    font-weight: var(--weight-semi-bold);
    color: var(--color-grey);
    margin-bottom: 4.3em;
    font-size: var(--font-min);
}

/* SIDEBAR MAP SYSTEM */

.sidebar_map{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.sidebar_map span{
    color: var(--color-purple);
    text-transform: uppercase;
    font-size: var(--font-min);
    margin-bottom: 0.5em;
    font-weight: var(--weight-semi-bold);
    padding: 0 1em;
}

.sidebar_map small{
    color: rgba(218, 221, 231, 0.51);
    font-size: 0.6em;
    text-transform: uppercase;
    font-weight: var(--weight-semi-bold);
    margin-bottom: 1.2em;
    padding: 0 1.4em;
}

/* SIDEBAR MENU */

.sidebar_menu{
    display: block;
}

.sidebar_menu a{
    color: var(--color-light-grey);
    display: block;
    padding-left: 1em;
    line-height: 3.5em;
    margin-bottom: 3px;
    border-radius: var(--radius-normal);
    transition: 300ms;
    font-size: var(--font-small);
    font-weight: var(--weight-semi-bold);
}

.sidebar_menu a:hover, .sidebar_menu a:active{
    background-color: var(--hover-darck-grey);
    color: var(--color-extra-light-grey);
}

.sidebar_menu i{
    margin-right: 1.2em;
    font-size: var(--font-medium) !important;
}

/* APP MAIN */

.app_main {
    display: block;
    width: calc(100% - 17.5em);
    height: 100%;
}

.app_main_mobile{
    width: 100%;
}

/* APP HEADER */

.app_header{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4em;
    padding: 0.6em 1em;
    background-color: var(--color-white);
    box-shadow: 0 1px 2px var(--color-light-grey);
}

.app_header i{
    font-size: var(--font-medium);
    color: var(--color-default);
    border-radius: var(--radius-round);
    padding: 0.6em;
    transition: 300ms;
}

.app_header i:hover{
    background-color: var(--color-extra-light-grey);
    cursor: pointer;
}

/* APP CONTENT */

.app_content{
    display: block;
    width: 100%;
    height: calc(100% - 4em);
    padding: 1.5em 2em;
    background-color: var(--color-background);
    overflow-y: auto;
}

.app_content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.app_content::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.app_content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #00000080;
}